.contact-container
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact-list-container
{
    display: flex;
    flex-direction: column;
}

.whatsapp-qr
{
    height: 16rem;
    width: 16rem;
    object-fit: contain;
}