.contact-container
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.2rem;
}

.contact-list-container
{
    display: flex;
    flex-direction: column;
    margin-left: 2.2rem;
    margin-top: 1.2rem;
    gap: 1.6rem;
}

.contact-list-container > p
{
    margin: 0;
}

.whatsapp-qr
{
    height: 16rem;
    width: 16rem;
    object-fit: contain;
}

.contact-list-container > p
{
    font-weight: bold;
}

.contact-list-container > p > span
{
    font-weight: lighter;
}