.project-base
{
    min-height: 100vh;
}


.project-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.project-grid-container
{
    display: flex;
    flex-direction: column;
}

.project-grid-container > p
{
    line-height: 1.7;
    letter-spacing: 0.2px;
    max-width: 18rem;
}

.project-container h2
{
    align-self: flex-start;
}