.resume-container
{
    display: flex;
}

.resume-second-container
{
    display: flex;
    flex-direction: column;
}

.resume-second-container h2
{
    align-self: flex-start;
}
.resume-small-container
{
    display: flex;
    flex-direction: column;
}