
.skill-base
{
    min-height: 100vh;
}

.project-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.project-grid-container
{
    display: flex;
    flex-direction: column;
}